@font-face {
  font-family: 'aptos';
  src: url('/fonts/aptos.woff') format('woff'),
   url('/fonts/aptos-black.woff') format('woff'),
  url('/fonts/aptos-black-italic.woff') format('woff'),
  url('/fonts/aptos-bold.woff') format('woff'),
  url('/fonts/aptos-extrabold.woff') format('woff'),
  url('/fonts/aptos-black-italic.ttf') format('truetype'),
  url('/fonts/aptos-bold.ttf') format('truetype'),
  url('/fonts/aptos-extrabold.ttf') format('truetype'),
  url('/fonts/aptos-black.ttf') format('truetype'),
       url('/fonts/aptos.ttf') format('truetype'),
       url('/fonts/aptos-italic.woff') format('woff'),
  url('/fonts/aptos-light-italic.woff') format('woff'),
  url('/fonts/aptos-light.woff') format('woff'),
  url('/fonts/aptos-light.ttf') format('truetype'),
  url('/fonts/aptos-italic.ttf') format('truetype'),
  url('/fonts/aptos-light-italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* body {
  font-family: 'aptos', sans-serif !important; /* Fallback to sans-serif */
}

h1,h2,h3,h4,h5,h6,p,span,div{
  font-family: 'aptos' !important;
}

.mg-motor-container {
  border: 1px solid black;
  margin: 100px auto;
  padding: 20px;
  text-align: center;
  max-width: 500px;
}
.mg-motor-inner-card {
    border: 2px solid #000;
    border-radius: 25px;
}
.mg-motor-card {
  width: 100px;
  height: auto;
  padding-top: 20px;
}
 
  .mg-motor-container .warning {
    color: red;
    font-weight: bold;
  }

  

 

  .mg-motor-inner-card ul {
    margin: 2em;
    padding: 0;
    
    li {
      margin: 0;
      margin-bottom: 1em;
      padding-left: 1.5em;
      /* position: relative; */
      
      /* &:after {
        content: '';
        height: .4em;
        width: .4em;
        background: #000;
        display: block;
        position: absolute;
        transform: rotate(45deg);
        top: .25em;
        left: 0;
      } */
      
    } 
    
  }
  .mg-motor-inner-card li {
    text-align: left;
}
.foreword {
  background-color: #2c3f46;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  border: 2px solid #2c3f46;
  margin-bottom: 30px;
  margin-top: 30px;
  color: #fff;
  font-weight: 700;
}


.card-notice-containor {
  display: block;
  margin-top: 8pt;
}
.card-custom {
  display: block;
  margin-top: 25px;
}
  
.card-custom .card {
  margin-bottom: 20px;
  padding: 0px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-right: 30px;
}
.card-warning{
  background-color: #f58634;
}
.card-custom .card-header {
  align-items: center;
  margin-bottom: 10px;
}


.card-custom .card-body{
  padding: 10px;
  margin: 20px 10px;
}
.card-custom .caution{
  margin-bottom: 20px;
    padding: 0px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 30px;
}

.card-notice-containor .card {
  margin-bottom: 20px;
  padding: 0px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
  
  .card-notice-containor .card-header {
    align-items: center;
    margin-bottom: 10px;
  }
  
  .card-notice-containor .card-header i {
    font-size: 24px;
    margin-right: 10px;
    color: white;
  }
  
  .card-notice-containor .card-header span {
    margin: 0;
    color: #fff;
    text-align: center;
    font-size: 20px;
}
.caution .card-header span {
    color: #000 !important;
}
  
.card-notice-containor .card-body {
  color: black;
  padding: 5px 20px;
  font-size: 16px;
}
  
  .card-notice-containor .note .card-header {
    background-color: #00afef;
  }
  
  .card-notice-containor .caution .card-header {
    background-color: #fff212;
  }
  
  .card-notice-containor .danger .card-header {
    background-color: #ed3237;
  }

  .topic-containor {
    display: flex;
    flex-direction: column;
    width: 80%;
  }
  .topic-containor .item span{
        font-size: 20px;
        font-weight: 700;
  }
  
  .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #b8e2e5;
    margin-bottom: 5px;
  }
  
  .number {
    background-color: #214653;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
  }

  .inner-note {
    display: block !important;
  }

  .card-header img {
    max-width: 298px;
    width: 100%;
}

.navbar-collapse, .navbar-collapse.collapse {
  background: #b8e2e5 !important;
}

.listitmmain {
  /* padding: 0 15px; */
  background-color: #2c3f46;
  margin: 10px;
  border: 1px solid #2c3f46;
  border-radius: 15px;
  padding: 5px;
}
.manual-list a {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  display: block;
}
.listitms {
  display: none;
}
.active-class{
  display: block;
}
.manual-area li{
  font-size: 16px;
}
#forward .x-p-8-0,#electric-vehicle .x-p-8-0{
  font-size: 16px;
}
i {
  font-style: italic !important;
}
#electric-vehicle .x-title-2-0{
  font-size: 16px;
}

.row {
  display: flex;
  justify-content: center;
}

.col img {
  width: 200px;
}
.overview {
  color: #c00510;
  font-size: 20px;
  padding: 0px !important;
  margin: 8pt 0pt 0pt 0pt;
}
.x-p-8-0{
  font-size: 16px;
}
.inner-img {
  max-width: 300px;
  width: 300px;
  padding: 20px;
  margin: 10px 10px 10px 0px;
  border: 1px solid #c0c2c3;
  max-height: 300px;
}

.seat-cover{
  margin: 20px;
  padding: 20px;
}
.card-caution{
  background-color: #fff212;
}
.mobile-banner{
  display: none !important;
}
@media(min-width: 1020px){
  .mg-shield-responsive .row{
    display: none !important;
  }
  .card-top-containor .card {
    margin: 10px;
}
}
@media(max-width: 767px){
  .card-top-containor {
    display: block !important;
    max-width: 800px;
  }
  .card-top-containor .card {
    width: 100% !important;
  }
  .section-column {
    display: block !important;
  }
  .section-column-col{
    width: 100% !important;
  }
  .section-column-one{
    padding-right:0px !important;
  }
  .section-column-two{
    padding-left:0px !important;
  }
  .mg-shield-responsive .row{
    display: flex !important;
    margin: 20px;
  }
  .mg-shield-responsive .rsa-field{
    padding: 10px;
  }
  .mg-shield-responsive .rsa-field img{
    width: 150px;
  }
  .mg-shield{
    display: none !important;
  }
  .img-responsive{
    display: none !important;
  }
  .mobile-banner{
    display: block !important;
    background-color: #2c3f46;
    max-width: 310px;
    max-height: 130px;
  } 
  .navbar-header {
    width: 100%;
    background-color: #2c3f46;
}
header .menu-label{
  float: none;
}
.owners-manual-header .navbar-brand{
  margin-left: 40px;
}
  
}
.rsa-field{
  padding: 20px;
}
.quality-group{
  text-align: center;
  border-bottom-color: #b8e2e5;
  border-top-color: #b8e2e5;
  background-color: #b8e2e5;
}
.other-positions{
  border: none !important;
  padding-right: 1px !important;
  background-color: #b8e2e5;
}
.front-manager{
  text-align: center;
  background-color: #b8e2e5;
}
tr,th,td{
  border-color: #b0b2b3;
}

.manual-list .listitmmain span {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  padding-left: 20px;
  display: block;
  cursor: pointer;
}

.inner-sub-category{
    font-size: 14px !important;
    padding-left: 30px !important;
    font-weight: normal !important;
}

.card-top-containor {
  display: flex;
  max-width: 800px;
}
.card-top-containor .card {
  width: 50%;
}

.section-column {
  display: flex;
  justify-content: center;
}
.section-column-col{
  width: 45%;
}
.section-column-one{
  padding-right: 20px;
}
.section-column-two{
  padding-left: 20px;
}
.underline {
  max-width: 900px;
  width: 100%;
  border-bottom: 1px solid #333;
  margin: 5px 0px;
}
.signature {
  display: flex;
  margin: 50px 20px 20px 0px;
}
.customer-name {
  width: 50%;
  text-align: left;
}
.dealer-stamp {
  width: 50%;
  text-align: right;
}
.confirm {
  margin-top: 30px;
  padding-top: 20px;
}
.record p {
  text-align: center;
  font-size: 30px;
}
.dealership {
  display: flex;
  justify-content: end;
}
.dealership .box {
  width: 300px;
  height: 150px;
  border: 1px solid #333;
  margin-top: 50px;
}

.owner {
  width: 300px;
  margin-top: 5px;
}
.model-table {
  width: 100%;
  border-collapse: collapse;
}

.model-table th, .model-table td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}
.model-table td {
  width: 20px;
}

.model-table th {
  background-color: #f2f2f2;
}
.address input {
  width: 100%;
}
.drive-indics table th{
  background-color: #b8e2e5;
}
.table-scroll{
  overflow-x:auto;
}